@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  background-color: hsl(243, 96%, 9%);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2 {
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.nav .logo img {
  max-width: 80%;
}

.nav .units {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(243, 27%, 20%);
  min-height: 20%;
  padding: 8px;
  border-radius: 12px;
}

.units div {
  max-width: 18%;
  min-height: auto;
}

.units .what-to-wear {
  color: hsl(39, 100%, 50%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.units:hover .what-to-wear {
  color: hsl(39, 100%, 50%);
}

/*.units button {
  background-color: hsl(243, 27%, 20%);
  border: none;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.units:hover button {
  color: hsl(243, 96%, 9%);
}*/

.nav .units img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  color: white;
  margin: 50px auto;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 85%;
  margin: 50px auto;

  & input {
    padding: 12px;
    border-radius: 12px;
    border: none;
    background-color: hsl(243, 27%, 20%);
  }

  & button {
    padding: 12px;
    border-radius: 12px;
    border: none;
    background-color: hsl(233, 67%, 56%);
    color: hsl(0, 0%, 100%);
  }

  & .search-results {
    background-color: hsl(243, 27%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 12px;
    cursor: pointer;
  }

  & .search-results p:hover {
    color: hsl(233, 67%, 56%);
  }

  & .search-results p {
    padding-left: 12px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  padding: 10px;
}

.wrapper .today {
  margin: auto;
  border-radius: 16px;
  min-width: 100%;
  color: white;
  background-image: url(/images/bg-today-small.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.today .forecast-wrapper {
  display: flex;
  justify-content: space-between;
}

.forecast-wrapper .img-div {
  margin: auto;
  max-width: 28%;
  min-height: 28%;
}

.forecast-wrapper .img-div img {
  height: 100%;
  width: 100%;
}

.forecast-wrapper h3 {
  font-size: 4rem;
  margin: auto;
}

.weather-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 100%;
}

.weather-info-container div {
  color: white;
  background-color: hsl(243, 27%, 20%);
  border: 1px solid hsl(243, 23%, 30%);
  border-radius: 12px;
}

.weather-info-container p {
  color: hsl(240, 6%, 70%);
  padding-left: 10px;
}

.weather-info-container .digit {
  font-size: 1.5rem;
  color: white;
}

.daily-forecast-container .days {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.daily-forecast-container .day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(243, 27%, 20%);
  border: 1px solid hsl(243, 23%, 30%);
  border-radius: 12px;
  padding: 12px;
  color: white;
}

.day .icon-div {
  max-width: 45%;
  min-height: 45%;
}

.day .icon-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.day .max-min {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.hourly-forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: hsl(243, 23%, 30%);
  color: hsl(0, 0%, 100%);
  padding: 16px;
  border-radius: 12px;
}

.hour-day h2 {
  text-align: center;
}

.hourly-forecast-container .hour {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(243, 27%, 20%);
  border-radius: 12px;
}

.hour .temp {
  margin-left: 40%;
}

.hourly-forecast-container .icon-div {
  max-width: 20%;
  min-height: 20%;
}

.hourly-forecast-container .icon-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ai .ask-gemini {
  color: hsl(39, 100%, 50%);
}

.ai .ask-gemini:hover {
  cursor: pointer;
  color: blue;
}

.ai .response {
  color: hsl(0, 0%, 100%);
  padding: 20px;
  margin: 50px auto;
  border: 1px solid hsl(243, 27%, 20%);
  border-radius: 12px;
}

@media (min-width: 1007px) {
  .search {
    max-width: 50%;
  }
}

@media (min-width: 1065px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);

    & .today {
      grid-column: span 2;
    }

    & .weather-info-container {
      grid-column: span 2;
      grid-template-columns: repeat(4, 1fr);
    }

    & .daily-forecast-container {
      grid-column: span 2;
    }

    & .daily-forecast-container .days {
      grid-template-columns: repeat(7, 1fr);
    }

    & .hourly-forecast-container {
      grid-column: 3;
      grid-row: 1 / 4;
    }
  }
}

@media (min-width: 1100px) {
  .wrapper {
    max-width: 90%;
    margin: auto;
  }
}

@media (min-width: 1227px) {
  .wrapper {
    max-width: 80%;
  }
}

@media (min-width: 1376px) {
  .hourly-forecast-container {
    padding: 30px;
  }
}

@media (min-width: 1411px) {
  .hourly-forecast-container {
    padding: 40px;
  }
}

@media (min-width: 1437px) {
  .wrapper {
    max-width: 78%;
  }
}

@media (min-width: 1488px) {
  .wrapper {
    max-width: 78%;
    gap: 2rem;
  }

  .weather-info-container div {
    border: 1px solid hsl(243, 27%, 20%);
  }
}

@media (min-width: 1900px) {
  .wrapper {
    max-width: 60%;
    gap: 3rem;
  }
}
